*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI;
}

body{
  background:#121212;
  color:#fff;
}

header{
  background:#1e1e1e;
  padding:15px 30px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

header h1{
  color:#00e5ff;
}

button{
  background:#00e5ff;
  border:none;
  padding:8px 15px;
  border-radius:5px;
  cursor:pointer;
  font-weight:bold;
  transition:0.3s;
}

button:hover{
  transform:scale(1.08);
  box-shadow:0 0 10px #00e5ff;
}

.container{
  padding:20px;
}

#search{
  width:100%;
  padding:10px;
  border-radius:5px;
  border:none;
  margin-bottom:15px;
}

#recipeForm{
  background:#1e1e1e;
  padding:15px;
  border-radius:10px;
  display:none;
  opacity:0;
  transition:0.4s;
}

input, textarea{
  width:100%;
  padding:10px;
  margin:8px 0;
  border-radius:5px;
  border:none;
}

.image-section p{
  color:#00e5ff;
  margin-top:10px;
}

.or{
  text-align:center;
  margin:8px 0;
  opacity:0.7;
}

#pasteBox{
  border:2px dashed #00e5ff;
  padding:15px;
  text-align:center;
  border-radius:10px;
}

@keyframes fade{
  from{opacity:0; transform:translateY(20px);}
  to{opacity:1; transform:translateY(0);}
}

.recipe-card{
  background:#1e1e1e;
  padding:15px;
  margin-top:15px;
  border-radius:10px;
  animation:fade 0.4s;
}

.recipe-card img{
  width:100%;
  border-radius:10px;
  margin-top:10px;
  transition:0.3s;
}

.recipe-card img:hover{
  transform:scale(1.05);
}

.actions{
  margin-top:10px;
}

@keyframes shake{
  0%{transform:translateX(0);}
  25%{transform:translateX(-5px);}
  50%{transform:translateX(5px);}
  75%{transform:translateX(-5px);}
  100%{transform:translateX(0);}
}

.shake{
  animation:shake 0.3s;
}
